number_of_questions: 5
output_file: "perfect_context_evaluation"
models:
  - name: "qwen/qwen-2.5-32b-instruct"
    generator: "openai_compatible"
  - name: "qwen/qwen-2.5-72b-instruct"
    generator: "openai_compatible"
  - name: "meta-llama/llama-3.3-70b-instruct:free"
    generator: "openai_compatible"
  - name: "gemma-3-4b-it"
    generator: "google"
  - name: "gemma-3-27b-it"
    generator: "google"
