number_of_questions: 1
output_file: "perfect_context_evaluation"
models:
  - name: "openai/gpt-oss-20b:free"
    generator: "openai_compatible"
    provider: "openrouter"
  - name: "openai/gpt-oss-120b:free"
    generator: "openai_compatible"
    provider: "openrouter"
  - name: "qwen/qwen3-4b:free"
    generator: "openai_compatible"
    provider: "openrouter"
  - name: "qwen-3-32b"
    generator: "openai_compatible"
    provider: "cerebras"
  - name: "gemma-3-4b-it"
    generator: "google"
    provider: None
  - name: "gemma-3-27b-it"
    generator: "google"
    provider: None
